body{
    background-color: #7c6a9e;
}

.formulario{
    display: flexbox;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 6px;
}

.forma, .respuesta{
    background-color: #f2e9f8;
    border: 2px solid #000000;
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
}

.forma{
    padding: 30px;
}

.respuesta{
    font-size: 120%;
    color: #000000;
    font-weight: bold;
}